# Dependencies
node_modules/

# Environment
.env
.env.local

# Logs
logs/
*.log

# Uploads
uploads/

# Vercel
.vercel/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Runtime
npm-debug.log*

*.db

